body {
    background-color: #E8EAF6;
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: normal;
    line-height: 1.6em;
}


/* global */

.container {
    width: 80%;
    margin: auto;
    padding: auto;
    overflow: hidden;
}


/* header */

header a {
    text-decoration-line: none;
    display: block;
    transition: all 0.3s ease-out;
    color: white;
}

a:hover {
    color: #9FA8DA;
    transform: rotate(6deg);
}

header {
    background-color: #283593;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header ul {
    list-style: none;
    word-spacing: 10px;
    margin-right: 20px;
}

header li {
    display: inline-block;
}


/* section */

.section1 {
    margin: 0px;
    background-color: #C5CAE9;
    padding: 5px;
}

.showcase {
    margin: 0px;
    justify-content: center;
}

.section1 h1 {
    font-weight: bolder;
    font-size: xx-large;
}

.section1 a {
    background-color: #283593;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration-line: none;
}

.sect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
}

.sect h3 {
    color: #283593;
}

section article {
    background-color: #E8EAF6;
    display: grid;
    margin: 0px;
    line-height: 1.5em;
}


/* aboutus */


/* 
        section {
            background-color: tomato;
            
        }
        section  {
            background-color: tomato;
            display: grid;
            grid-template-columns: minmax(300px, 75%);
        }
         */

.section2 article {
    float: left;
    width: 65%;
}

.section2 aside {
    float: right;
    width: 25%;
    background-color: #C5CAE9;
    margin-top: -200px;
    overflow: hidden;
    box-sizing: border-box;
}


/* portfolio */

.flex-container {
    background-color: #E8EAF6;
    display: flex;
}

.flex-container article {
    background-color: #E8EAF6;
    margin-bottom: 50px;
}

.flex-container aside {
    background-color: #C5CAE9;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
}


/*  display: grid;
            grid-template-columns: minmax(300px, 75%);
         
            float: left;
            */


/*
        section aside {
            background-color: turquoise;
               display: grid;
            float: right;
        }
         */


/* footer*/

footer {
    text-align: center;
    padding: 20px 0px;
    background-color: whitesmoke;
}


/* media queries */

@media(max-width:768px) {
    .sect {
        float: none;
        width: 100%;
        grid-template-columns: 1fr;
    }
    header h1 {
        float: none;
        width: 100%;
    }
    header ul {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-left: 30px;
        margin-bottom: 10px;
        word-spacing: 30px;
    }
    .section2 aside {
        width: 100%;
        margin-top: auto;
        margin-bottom: 10px;
    }
    .flex-container aside {
        width: 100%;
    }
}