body {
    background-color: lightgrey;
    color: black;
    line-height: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin: 0px;
    font-size: normal;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: yellow;
    color: black;
    margin-top: 30px;
    text-align: center;
}

.navbar {
    background-color: black;
    color: white;
    margin: 0px;
}

.navbar ul {
    list-style: none;
    padding: 0px 20px;
}

.navbar li {
    display: inline;
    padding: 10px;
    padding-left: 0px;
}

.section {
    background-color: coral;
    min-height: 100px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: centre;
    text-transform: uppercase;
}

.article {
    float: left;
    width: 70%;
    box-sizing: border-box;
    background-color: darkgreen;
}

.aside {
    float: left;
    width: 30%;
    background-color: blue;
    box-sizing: border-box;
}

.footer {
    text-align: center;
}